[Unit]
Description=Slack Consolidate

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/slack_consolidate.py

[Install]
WantedBy=multi-user.target
